<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head">
    <title>index</title>
</head>
<body>

    <div th:replace="fragments/header::header"></div>

    <main class="container mySpace">
        <div class="jumbotron">
            <div class="alert alert-danger">
                <h2 class="text-center">There was an error</h2>
                <p class="text-center">
                    <span th:text="${message}"></span> : <span class="text-center" th:text="${status}"></span>
                </p>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer::footer"></div>

</body>
</html>